@font-face {
	font-family: 'Europa-Bold';
	src: url('fonts/Europa-Bold.woff2') format('woff2'), url('fonts/Europa-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Europa-Regular';
	src: url('fonts/Europa-Regular.woff2') format('woff2'), url('fonts/Europa-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@import 'bootstrap/functions';
@import 'custom/functions';

@import 'custom/variables';
@import 'bootstrap/variables';

@import 'bootstrap/mixins';
@import 'custom/mixins';

@import '../vendor/nucleo/css/nucleo.css';
@import 'fonts/fontawesome/scss/fontawesome.scss';
@import 'fonts/fontawesome/scss/light.scss';
@import 'fonts/fontawesome/scss/brands.scss';

// Bootstrap components

@import 'bootstrap/root';
@import 'bootstrap/reboot';
@import 'bootstrap/type';
@import 'bootstrap/images';
@import 'bootstrap/code';
@import 'bootstrap/grid';
@import 'bootstrap/tables';
@import 'bootstrap/forms';
@import 'bootstrap/buttons';
@import 'bootstrap/transitions';
@import 'bootstrap/dropdown';
@import 'bootstrap/button-group';
@import 'bootstrap/input-group';
@import 'bootstrap/custom-forms';
@import 'bootstrap/nav';
@import 'bootstrap/navbar';
@import 'bootstrap/card';
@import 'bootstrap/breadcrumb';
@import 'bootstrap/pagination';
@import 'bootstrap/badge';
@import 'bootstrap/jumbotron';
@import 'bootstrap/alert';
@import 'bootstrap/progress';
@import 'bootstrap/media';
@import 'bootstrap/list-group';
@import 'bootstrap/close';
@import 'bootstrap/modal';
@import 'bootstrap/tooltip';
@import 'bootstrap/popover';
@import 'bootstrap/carousel';
@import 'bootstrap/utilities';
@import 'bootstrap/print';

// Custom components

@import 'custom/reboot.scss';
@import 'custom/global.scss';
@import 'custom/utilities.scss';

@import 'custom/accordion.scss';
@import 'custom/alerts.scss';
@import 'custom/avatars.scss';
@import 'custom/badge.scss';
@import 'custom/buttons.scss';
@import 'custom/card.scss';
@import 'custom/carousel.scss';
@import 'custom/close.scss';
@import 'custom/custom-forms.scss';
@import 'custom/dropdown.scss';
@import 'custom/footer.scss';
@import 'custom/forms.scss';
@import 'custom/grid.scss';
@import 'custom/icons.scss';
@import 'custom/input-group.scss';
@import 'custom/list-group.scss';
@import 'custom/modal.scss';
@import 'custom/nav.scss';
@import 'custom/navbar.scss';
@import 'custom/pagination.scss';
@import 'custom/popover.scss';
@import 'custom/progress.scss';
@import 'custom/section.scss';
@import 'custom/type.scss';

// Vendor

@import 'custom/vendor/flatpickr.scss';
@import 'custom/vendor/headroom.scss';
@import 'custom/vendor/nouislider.scss';
